.zmk-key {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zmk-key__button {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  margin: auto;
  background-color: transparent;
  border: 0;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  padding: 0;
}

.zmk-key__button--primary {
  color: #333;
  background-color: transparent;
  
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.zmk-key__button--secondary {
  color: white;
  background-color: #8c8c8c;
}
