
.zmk-keyboard {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr auto;
}

.zmk-keyboard__layout-picker {
    grid-column: 3;
    grid-row: 1 / 2;
}

.zmk-keyboard__layer-picker {
    grid-column: 1;
    grid-row: 1 / 2;
}


.zmk-keyboard__keyboard {
    grid-column: 2;
    grid-row: 1;
}

.zmk-keyboard__binding-picker {
    grid-row: 2;
    grid-column: 2;
}

.zmk-keyboard__keymap {
    display: grid;
    justify-items: center;
    align-items: center;
}