.zmk-physical-layout {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  position: relative;
}

.zmk-physical-layout__position {
  position: absolute;
}


.zmk-physical-layout__position:hover {
  z-index: 1000;
}